<!DOCTYPE html>
<html lang="en">
    <head>
        <title>matk</title>
        <%- include("./partials/header.ejs") %>
    </head>
    <body>

        <%- include("./partials/menu.ejs")%>

        <h1><%= matk.nimetus + ' - ' + id %></h1>

        <img class="matkapilt" src="<%=matk.pildiUrl %>" />
        
        <p><%=matk.kirjeldus %></p>
        <p>Osalejaid: <%=matk.osalejad.length %> </p>                        


        <form class="register" method="post" action="/register">
            <div class="vali">
                <label for="name">Name</label>
                    <input type="text" name="name" placeholder="name">
                <label for="email">eMail</label>
                    <input type="text" name="email" placeholder="email">
                    <input type="hidden" name="matkaIndex" value="<%= id %>">
                    <input type="submit" value="Register">
            </div>
        </form>
        <div class="jalus">

        </div>
    </body>
</html>