<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/header.ejs") %>
        <title>news</title>
    </head>
    <body>
        <div class="container">
            <%- include("./partials/menu.ejs")%>
            <h1>TestTest</h1>
            
            <% for (let i = 0; i < data.length; i++) { %>
                <div class="item">
                    <h2><%= data[i].title %></h2>
                    <p><%= data[i].description %></p>
                    <img class="image" src="<%= data[i].imageUrl %>" alt="<%= data[i].title %>"/>
                    <button class="button" onclick="window.location.href='<%= data[i].buttonUrl %>'">Read Closer</button>
                </div>
            <% } %>
        </div>
    
    </body>
  </html>